<a href="https://colab.research.google.com/github/farnoosh27/Statistical_Analysis_usingR/blob/main/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Using native R on Google Colab**
Farnoosh Azour

By the help of Dr.Chanin Nantasenamat, I am running R code in colab environment. 

<i>Data Professor YouTube channel, http://youtube.com/dataprofessor </i>
 
 Here is a short tutorial on how to do data cleaning using R. 
Hope you enjoy it!

[Use R on Google Colab!](https://colab.research.google.com/notebook#create=true&language=r)

I am following a tutorial by [Greg Martin](https://www.youtube.com/watch?v=sV5lwAJ7vnQ)

## Installing libraries

In [ ]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘textshaping’, ‘ragg’


Warning message in install.packages("tidyverse"):
“installation of package ‘textshaping’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘ragg’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘tidyverse’ had non-zero exit status”

In [ ]:
install.packages("dplyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
install.packages("janitor")
library(janitor)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”

Attaching package: ‘janitor’


The following objects are masked from ‘package:stats’:

    chisq.test, fisher.test

In [ ]:
library(tidyverse)
library(dplyr)
library(janitor)
view(starwars)
# variable types
glimpse(starwars)
class(starwars$gender)
unique(starwars$gender)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.4.1     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.1
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.4     ✔ forcats 1.0.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Rows: 87
Columns: 14
$ name       <chr> "Luke Skywalker", "C-3PO", "R2-D2", "Darth Vader", "Leia Or…
$ height     <int> 172, 167, 96, 202, 150, 178, 165, 97, 183, 182, 188, 180, 2…
$ mass       <dbl> 77.0, 75.0, 32.0, 136.0, 49.0, 120.0, 75.0, 32.0, 84.0, 77.…
$ hair_color <chr> "blond", NA, NA, "none", "brown", "brown, grey", "brown", N…
$ skin_color <chr> "fair", "gold", "white, blue", "white", "light", "light", "…
$ eye_color  <chr> "blue", "yellow", "red", "yellow", "brown", "blue", "blue",…
$ birth_year <dbl> 19.0, 112.0, 33.0, 41.9, 19.0, 52.0, 47.0, NA, 24.0, 57.0, …
$ sex        <chr> "male", "none", "none", "male", "female", "male", "female",…
$ gender     <chr> "masculine", "masculine", "masculine", "masculine", "femini…
$ homeworld  <chr> "Tatooine", "Tatooine", "Naboo", "Tatooine", "Alderaan", "T…
$ species    <chr> "Human", "Droid", "Droid", "Human", "Human", "Human", "Huma…
$ films      <list> <"The Empire Strikes Back", "Revenge of the Sith", "Return…
$ vehicles   <list> <"Snowspeeder", "Imperial Speeder Bike">, <>, <>, <>, "Imp…
$ starships  <list> <"X-wing", "Imperial shuttle">, <>, <>, "TIE Advanced x1",…

[1] "character"

[1] "masculine" "feminine"  NA

In R, as.factor is a function used to convert a vector or a column in a data frame to a factor variable. 

A **factor** is a categorical variable that can take a limited set of values, which are referred to as level

In [ ]:
starwars$gender <- as.factor(starwars$gender)
class(starwars$gender)

[1] "factor"

In [ ]:
levels(starwars$gender)

[1] "feminine"  "masculine"

In [ ]:
## let's say we want this the other way around
starwars$gender <- factor((starwars$gender), levels = c('masculine','feminine'))

In [ ]:
levels(starwars$gender)

[1] "masculine" "feminine"

## selecting variables

In [ ]:
names(starwars)

 [1] "name"       "height"     "mass"       "hair_color" "skin_color"
 [6] "eye_color"  "birth_year" "sex"        "gender"     "homeworld"
[11] "species"    "films"      "vehicles"   "starships"

In [ ]:
# pipe operator
starwars %>%
  select(name, height, ends_with("color")) %>%
  names()

[1] "name"       "height"     "hair_color" "skin_color" "eye_color"

In [ ]:
# pipe operator
starwars %>%
  select(name, height, ends_with("color")) %>%
  filter(hair_color %in% c("blond","brown") &
    height < 180)

  name                  height hair_color skin_color eye_color
1 Luke Skywalker        172    blond      fair       blue
2 Leia Organa           150    brown      light      brown
3 Beru Whitesun lars    165    brown      light      blue
4 Wedge Antilles        170    brown      fair       hazel
5 Wicket Systri Warrick  88    brown      brown      brown
6 Finis Valorum         170    blond      fair       blue
7 Cordé                 157    brown      light      brown
8 Dormé                 165    brown      light      brown
9 Padmé Amidala         165    brown      light      brown

In [ ]:
# missing data
mean(starwars$height)
# it does not work because there are missing values

[1] NA

In [ ]:
# missing data
mean(starwars$height, na.rm = TRUE)
# it works because it removes the null variables

[1] 174.358

In [ ]:
# missing data
starwars %>%
  select(name, gender, hair_color, height)%>%
# one way could be to remove all the missing variables, but that's not necessarily recommended
na.omit()

   name                  gender    hair_color    height
1  Luke Skywalker        masculine blond         172
2  Darth Vader           masculine none          202
3  Leia Organa           feminine  brown         150
4  Owen Lars             masculine brown, grey   178
5  Beru Whitesun lars    feminine  brown         165
6  Biggs Darklighter     masculine black         183
7  Obi-Wan Kenobi        masculine auburn, white 182
8  Anakin Skywalker      masculine blond         188
9  Wilhuff Tarkin        masculine auburn, grey  180
10 Chewbacca             masculine brown         228
11 Han Solo              masculine brown         180
12 Wedge Antilles        masculine brown         170
13 Jek Tono Porkins      masculine brown         180
14 Yoda                  masculine white          66
15 Palpatine             masculine grey          170
16 Boba Fett             masculine black         183
17 IG-88                 masculine none          200
18 Bossk                 masculine none          190
19 Lando Calrissian      masculine black         177
20 Lobot                 masculine none          175
21 Ackbar                masculine none          180
22 Mon Mothma            feminine  auburn        150
23 Wicket Systri Warrick masculine brown          88
24 Nien Nunb             masculine none          160
25 Qui-Gon Jinn          masculine brown         193
26 Nute Gunray           masculine none          191
27 Finis Valorum         masculine blond         170
28 Jar Jar Binks         masculine none          196
29 Roos Tarpals          masculine none          224
30 Rugor Nass            masculine none          206
⋮  ⋮                     ⋮         ⋮             ⋮
44 Adi Gallia            feminine  none          184
45 Saesee Tiin           masculine none          188
46 Yarael Poof           masculine none          264
47 Plo Koon              masculine none          188
48 Mas Amedda            masculine none          196
49 Gregar Typho          masculine black         185
50 Cordé                 feminine  brown         157
51 Cliegg Lars           masculine brown         183
52 Poggle the Lesser     masculine none          183
53 Luminara Unduli       feminine  black         170
54 Barriss Offee         feminine  black         166
55 Dormé                 feminine  brown         165
56 Dooku                 masculine white         193
57 Bail Prestor Organa   masculine black         191
58 Jango Fett            masculine black         183
59 Zam Wesell            feminine  blonde        168
60 Dexter Jettster       masculine none          198
61 Lama Su               masculine none          229
62 Taun We               feminine  none          213
63 Jocasta Nu            feminine  white         167
64 Ratts Tyerell         masculine none           79
65 R4-P17                feminine  none           96
66 Wat Tambor            masculine none          193
67 San Hill              masculine none          191
68 Shaak Ti              feminine  none          178
69 Grievous              masculine none          216
70 Tarfful               masculine brown         234
71 Raymus Antilles       masculine brown         188
72 Tion Medon            masculine none          206
73 Padmé Amidala         feminine  brown         165

In [ ]:
# missing data
# it's better to know the missing values, to know where the missing 
# observation that has no missing
starwars %>%
  select(name, gender, hair_color, height) %>%
  filter(complete.cases(.))

   name                  gender    hair_color    height
1  Luke Skywalker        masculine blond         172
2  Darth Vader           masculine none          202
3  Leia Organa           feminine  brown         150
4  Owen Lars             masculine brown, grey   178
5  Beru Whitesun lars    feminine  brown         165
6  Biggs Darklighter     masculine black         183
7  Obi-Wan Kenobi        masculine auburn, white 182
8  Anakin Skywalker      masculine blond         188
9  Wilhuff Tarkin        masculine auburn, grey  180
10 Chewbacca             masculine brown         228
11 Han Solo              masculine brown         180
12 Wedge Antilles        masculine brown         170
13 Jek Tono Porkins      masculine brown         180
14 Yoda                  masculine white          66
15 Palpatine             masculine grey          170
16 Boba Fett             masculine black         183
17 IG-88                 masculine none          200
18 Bossk                 masculine none          190
19 Lando Calrissian      masculine black         177
20 Lobot                 masculine none          175
21 Ackbar                masculine none          180
22 Mon Mothma            feminine  auburn        150
23 Wicket Systri Warrick masculine brown          88
24 Nien Nunb             masculine none          160
25 Qui-Gon Jinn          masculine brown         193
26 Nute Gunray           masculine none          191
27 Finis Valorum         masculine blond         170
28 Jar Jar Binks         masculine none          196
29 Roos Tarpals          masculine none          224
30 Rugor Nass            masculine none          206
⋮  ⋮                     ⋮         ⋮             ⋮
44 Adi Gallia            feminine  none          184
45 Saesee Tiin           masculine none          188
46 Yarael Poof           masculine none          264
47 Plo Koon              masculine none          188
48 Mas Amedda            masculine none          196
49 Gregar Typho          masculine black         185
50 Cordé                 feminine  brown         157
51 Cliegg Lars           masculine brown         183
52 Poggle the Lesser     masculine none          183
53 Luminara Unduli       feminine  black         170
54 Barriss Offee         feminine  black         166
55 Dormé                 feminine  brown         165
56 Dooku                 masculine white         193
57 Bail Prestor Organa   masculine black         191
58 Jango Fett            masculine black         183
59 Zam Wesell            feminine  blonde        168
60 Dexter Jettster       masculine none          198
61 Lama Su               masculine none          229
62 Taun We               feminine  none          213
63 Jocasta Nu            feminine  white         167
64 Ratts Tyerell         masculine none           79
65 R4-P17                feminine  none           96
66 Wat Tambor            masculine none          193
67 San Hill              masculine none          191
68 Shaak Ti              feminine  none          178
69 Grievous              masculine none          216
70 Tarfful               masculine brown         234
71 Raymus Antilles       masculine brown         188
72 Tion Medon            masculine none          206
73 Padmé Amidala         feminine  brown         165

In [ ]:
## exact oposit
# now we have a better idea of where the missig variable is
starwars %>%
  select(name, gender, hair_color, height) %>%
  filter(!complete.cases(.))
# after seeing the missing values below we will notice for example for the hair color C-3PO and the
# next two --> they are droids they don't have hair
# but for example for height we would drop the missing value

   name                  gender    hair_color height
1  C-3PO                 masculine NA         167
2  R2-D2                 masculine NA          96
3  R5-D4                 masculine NA          97
4  Greedo                masculine NA         173
5  Jabba Desilijic Tiure masculine NA         175
6  Arvel Crynyd          masculine brown       NA
7  Ric Olié              NA        brown      183
8  Quarsh Panaka         NA        black      183
9  Sly Moore             NA        none       178
10 Finn                  masculine black       NA
11 Rey                   feminine  brown       NA
12 Poe Dameron           masculine brown       NA
13 BB8                   masculine none        NA
14 Captain Phasma        NA        unknown     NA

In [ ]:
## exact oposit
# now we have a better idea of where the missig variable is
starwars %>%
  select(name, gender, hair_color, height) %>%
  filter(!complete.cases(.)) %>%
  drop_na(height)
  
# droping where the height is missing

  name                  gender    hair_color height
1 C-3PO                 masculine NA         167
2 R2-D2                 masculine NA          96
3 R5-D4                 masculine NA          97
4 Greedo                masculine NA         173
5 Jabba Desilijic Tiure masculine NA         175
6 Ric Olié              NA        brown      183
7 Quarsh Panaka         NA        black      183
8 Sly Moore             NA        none       178

to create new variables (columns) or modify existing variables in a data frame.

In [ ]:
## exact opposit
# now we have a better idea of where the missig variable is
starwars %>%
  select(name, gender, hair_color, height) %>%
  filter(!complete.cases(.)) %>%
  mutate(hair_color = replace_na(hair_color, "none"))

   name                  gender    hair_color height
1  C-3PO                 masculine none       167
2  R2-D2                 masculine none        96
3  R5-D4                 masculine none        97
4  Greedo                masculine none       173
5  Jabba Desilijic Tiure masculine none       175
6  Arvel Crynyd          masculine brown       NA
7  Ric Olié              NA        brown      183
8  Quarsh Panaka         NA        black      183
9  Sly Moore             NA        none       178
10 Finn                  masculine black       NA
11 Rey                   feminine  brown       NA
12 Poe Dameron           masculine brown       NA
13 BB8                   masculine none        NA
14 Captain Phasma        NA        unknown     NA

In [ ]:
# adding another column of hair_color2
starwars %>%
  select(name, gender, hair_color, height) %>%
  filter(!complete.cases(.)) %>%
  mutate(hair_color2 = replace_na(hair_color, "none"))

   name                  gender    hair_color height hair_color2
1  C-3PO                 masculine NA         167    none
2  R2-D2                 masculine NA          96    none
3  R5-D4                 masculine NA          97    none
4  Greedo                masculine NA         173    none
5  Jabba Desilijic Tiure masculine NA         175    none
6  Arvel Crynyd          masculine brown       NA    brown
7  Ric Olié              NA        brown      183    brown
8  Quarsh Panaka         NA        black      183    black
9  Sly Moore             NA        none       178    none
10 Finn                  masculine black       NA    black
11 Rey                   feminine  brown       NA    brown
12 Poe Dameron           masculine brown       NA    brown
13 BB8                   masculine none        NA    none
14 Captain Phasma        NA        unknown     NA    unknown

In [ ]:
## duplicates
# because the starwars dataset does not have duplicate variables
# we need to manually make a dataframe
Names <- c("Peter","John","Andrew","Peter")
Age <- c(22, 33, 44, 22)
friends <- data.frame(Names, Age)
friends[!duplicated(friends),]
friends %>% distinct()

  Names  Age
1 Peter  22
2 John   33
3 Andrew 44

  Names  Age
1 Peter  22
2 John   33
3 Andrew 44

In [ ]:
# logical vector
duplicated(friends)

[1] FALSE FALSE FALSE  TRUE

In [ ]:
# recode variables 
# we may need to store masculine and feminine as 1 and 2
starwars %>% select(name, gender)
starwars %>%
  select(name, gender)%>%
  mutate(gender_coded = recode(gender, "masculine" = 1, "feminine" = 2))

   name                  gender
1  Luke Skywalker        masculine
2  C-3PO                 masculine
3  R2-D2                 masculine
4  Darth Vader           masculine
5  Leia Organa           feminine
6  Owen Lars             masculine
7  Beru Whitesun lars    feminine
8  R5-D4                 masculine
9  Biggs Darklighter     masculine
10 Obi-Wan Kenobi        masculine
11 Anakin Skywalker      masculine
12 Wilhuff Tarkin        masculine
13 Chewbacca             masculine
14 Han Solo              masculine
15 Greedo                masculine
16 Jabba Desilijic Tiure masculine
17 Wedge Antilles        masculine
18 Jek Tono Porkins      masculine
19 Yoda                  masculine
20 Palpatine             masculine
21 Boba Fett             masculine
22 IG-88                 masculine
23 Bossk                 masculine
24 Lando Calrissian      masculine
25 Lobot                 masculine
26 Ackbar                masculine
27 Mon Mothma            feminine
28 Arvel Crynyd          masculine
29 Wicket Systri Warrick masculine
30 Nien Nunb             masculine
⋮  ⋮                     ⋮
58 Cordé                 feminine
59 Cliegg Lars           masculine
60 Poggle the Lesser     masculine
61 Luminara Unduli       feminine
62 Barriss Offee         feminine
63 Dormé                 feminine
64 Dooku                 masculine
65 Bail Prestor Organa   masculine
66 Jango Fett            masculine
67 Zam Wesell            feminine
68 Dexter Jettster       masculine
69 Lama Su               masculine
70 Taun We               feminine
71 Jocasta Nu            feminine
72 Ratts Tyerell         masculine
73 R4-P17                feminine
74 Wat Tambor            masculine
75 San Hill              masculine
76 Shaak Ti              feminine
77 Grievous              masculine
78 Tarfful               masculine
79 Raymus Antilles       masculine
80 Sly Moore             NA
81 Tion Medon            masculine
82 Finn                  masculine
83 Rey                   feminine
84 Poe Dameron           masculine
85 BB8                   masculine
86 Captain Phasma        NA
87 Padmé Amidala         feminine

   name                  gender    gender_coded
1  Luke Skywalker        masculine 1
2  C-3PO                 masculine 1
3  R2-D2                 masculine 1
4  Darth Vader           masculine 1
5  Leia Organa           feminine  2
6  Owen Lars             masculine 1
7  Beru Whitesun lars    feminine  2
8  R5-D4                 masculine 1
9  Biggs Darklighter     masculine 1
10 Obi-Wan Kenobi        masculine 1
11 Anakin Skywalker      masculine 1
12 Wilhuff Tarkin        masculine 1
13 Chewbacca             masculine 1
14 Han Solo              masculine 1
15 Greedo                masculine 1
16 Jabba Desilijic Tiure masculine 1
17 Wedge Antilles        masculine 1
18 Jek Tono Porkins      masculine 1
19 Yoda                  masculine 1
20 Palpatine             masculine 1
21 Boba Fett             masculine 1
22 IG-88                 masculine 1
23 Bossk                 masculine 1
24 Lando Calrissian      masculine 1
25 Lobot                 masculine 1
26 Ackbar                masculine 1
27 Mon Mothma            feminine  2
28 Arvel Crynyd          masculine 1
29 Wicket Systri Warrick masculine 1
30 Nien Nunb             masculine 1
⋮  ⋮                     ⋮         ⋮
58 Cordé                 feminine   2
59 Cliegg Lars           masculine  1
60 Poggle the Lesser     masculine  1
61 Luminara Unduli       feminine   2
62 Barriss Offee         feminine   2
63 Dormé                 feminine   2
64 Dooku                 masculine  1
65 Bail Prestor Organa   masculine  1
66 Jango Fett            masculine  1
67 Zam Wesell            feminine   2
68 Dexter Jettster       masculine  1
69 Lama Su               masculine  1
70 Taun We               feminine   2
71 Jocasta Nu            feminine   2
72 Ratts Tyerell         masculine  1
73 R4-P17                feminine   2
74 Wat Tambor            masculine  1
75 San Hill              masculine  1
76 Shaak Ti              feminine   2
77 Grievous              masculine  1
78 Tarfful               masculine  1
79 Raymus Antilles       masculine  1
80 Sly Moore             NA        NA
81 Tion Medon            masculine  1
82 Finn                  masculine  1
83 Rey                   feminine   2
84 Poe Dameron           masculine  1
85 BB8                   masculine  1
86 Captain Phasma        NA        NA
87 Padmé Amidala         feminine   2